:root {
  --op: 0;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgb(172, 93, 92), rgb(224, 177, 171) 50%, rgb(190, 137, 137));
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: var(--op);
}

#body {
  z-index: 1;
  background-image: linear-gradient(45deg, rgba(131, 129, 255, 0.63), rgba(201, 189, 247, 0.9) 50%, rgb(148, 137, 190));
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#body #timer-label {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 6%;
  margin-top: 3%;
  -webkit-text-stroke-color: black;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
#body .CircularProgressbar-path {
  stroke: white;
}
#body .CircularProgressbar-trail {
  stroke: rgba(0, 0, 0, 0.5);
}
#body #timer-box {
  margin-top: 30%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#body #timer-box #timer-left {
  margin: 0;
  margin-top: -10%;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 55px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
}
#body .label {
  height: 57px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.75);
  border: 3px solid white;
  margin-top: 10px;
  justify-content: space-evenly;
  padding-right: 10%;
}
#body .label .label-name {
  font-size: larger;
  font-weight: bold;
}
#body .label #def {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#body .label .default-values {
  border: 3px solid white;
  padding: 7px;
  margin: 0px -5px 0px -5px;
}

#start-stop .icons {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: -30%;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 35px;
  height: 35px;
}

@keyframes slideLeftPause {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -10%;
  }
}
#reset-icon {
  font-size: 60px;
  position: absolute;
  top: 2%;
  left: 80%;
  color: black;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movePause {
  margin-left: -10%;
  animation: slideLeftPause 0.5s;
}

@keyframes slideRightStop {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 10%;
  }
}
.moveStop {
  margin-left: 10%;
  animation: slideRightStop 0.5s;
}

.invisible {
  visibility: hidden;
}

.icons {
  border-radius: 50%;
  color: white;
  font-size: 28px;
}

@media screen and (min-width: 450px) {
  @keyframes slideLeftPause {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -5%;
    }
  }
  .movePause {
    margin-left: -5%;
    animation: slideLeftPause 0.5s;
  }
  @keyframes slideRightStop {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 5%;
    }
  }
  .moveStop {
    margin-left: 5%;
    animation: slideRightStop 0.5s;
  }
  #start-stop .icons {
    margin-top: -12%;
  }
}
@media screen and (min-width: 1035px) {
  @keyframes slideLeftPause {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -3%;
    }
  }
  .movePause {
    margin-left: -3%;
    animation: slideLeftPause 0.5s;
  }
  @keyframes slideRightStop {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 3%;
    }
  }
  .moveStop {
    margin-left: 3%;
    animation: slideRightStop 0.5s;
  }
  #start-stop .icons {
    margin-top: -7%;
  }
  .label-name {
    margin-left: 10%;
  }
  #reset-icon {
    left: 95%;
    top: 2%;
  }
}

/*# sourceMappingURL=clock_style.css.map */
